.ant-form span {
    padding: 4px;
}

.link-container {
    display: flex;
    width: 100%;
    height: 8%;
    border-radius: 10px;
    border: 2px solid #292929;
    background: rgba(80, 140, 193, 0.00);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 0;
    transition: background 0.3s ease, border-color 0.3s ease;
}

.link-container:hover {
    background: rgba(80, 140, 193, 0.15);
    /* Slightly changes the background color */
    border-color: #508cc1;
    /* Changes the border color on hover */
}

.link-text {
    color: #292929;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.link-container img {
    width: 20px;
    margin-right: 5px;
}

.link-container:hover .link-text {
    color: #508cc1;
    /* Change text color on hover */
}

.login-button:hover {
    background: #ac2229 !important;
    color: #ccc !important;
    /* Slightly changes the background color */
    border-color: #508cc1;
    /* Changes the border color on hover */
}

.btn-register {
    color: red;
    text-decoration: underline;
    font-weight: bold;
    font-size: bold;
    font-size: 16px;
    margin-left: 5px;
    text-decoration-thickness: 1px;
}

.btn-register:hover {
    color: red !important;
    text-decoration: underline;

    text-decoration-thickness: 2px;
    /* Slightly changes the background color */
}