.register-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 150% !important;
    /* Full width */
}

.register-button:hover {
    background: #ac2229 !important;
    color: #ccc !important;
    /* Slightly changes the background color */
    border-color: #508cc1;
}

.span-reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}